/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 30px;
}

textarea{
  resize: none;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.dashboard-header{
  border-bottom: 2px solid #5bc0de;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.dashboard .navbar-fixed-top {
  border: 0;
  height: 30px;
  min-height:30px;
}
.dashboard-header .nav-tabs > li.active > a, 
.dashboard-header .nav-tabs > li.active > a:hover, 
.dashboard-header .nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: #5bc0de;
}
  .nav-tabs > li > a
, .nav-tabs > li.active > a
, .nav-tabs > li.active > a:hover
, .nav-tabs > li.active > a:focus{
  border:0px;
}
.dashboard .statusbar {
  height: 24px;
  min-height:24px;
  font-size: 12px;
  padding: 4px;
}

.nav > li > a{
  padding: 5px 10px;
}
.dashboard .navbar-brand{
  padding: 5px 5px;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar {
  position: fixed;
  top: 31px;
  bottom: 24px;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.ssnview{
  top: 60px;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;

}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.nav-pills.nav-tabs{
  margin-top: 3px;
}
.nav-tabs{
  border-bottom: 0px;
}

.nav-xs {
  min-height: 24px;
}
.nav-xs > li > a {
  padding: 0px 16px;
}

.dashboard .panel-body-xs{
  padding: 24px 0 3px 0px;
  height: 100%;
}
.syntaxhighlighter{
  margin: 0!important;
}

.full-body,.full-body-div,.full-body-div > div{
  width:100%;
  height:100%;
}

iframe{
  border: none;
}

.gold-x0{
  width: 38.2%;
}
.gold-x1{
  width: 61.8%;
}
.gold-y0{
  height: 38.2%;
}
.gold-y1{
  height: 61.8%;
}

.full-y{
  height:100%;
}
.full-x{
  width:100%;
}

  .row-12 {
    height: 100%;
  }
  .row-11 {
    height: 91.66666666666666%;
  }
  .row-10 {
    height: 83.33333333333334%;
  }
  .row-9 {
    height: 75%;
  }
  .row-8 {
    height: 66.66666666666666%;
  }
  .row-7 {
    height: 58.333333333333336%;
  }
  .row-6 {
    height: 50%;
  }
  .row-5 {
    height: 41.66666666666667%;
  }
  .row-4 {
    height: 33.33333333333333%;
  }
  .row-3 {
    height: 25%;
  }
  .row-2 {
    height: 16.666666666666664%;
  }
  .row-1 {
    height: 8.333333333333332%;
  }

.overflow{
  overflow:auto;
}
.overflow-x{
  overflow-x:auto;
  overflow-y:hidden;
}
.overflow-y{
  overflow-x:hidden;
  overflow-y:auto;
}
.padding0{
  padding: 0px;
}
.padding5{
  padding: 5px;
}
.paddingx5{
  padding-left: 5px;
  padding-right: 5px;
}
.padding10{
  padding: 10px;
}
.padding20{
  padding: 20px;
}


.margin0{
  margin: 0px;
}
.margin10{
  margin: 10px;
}
.margin10-x{
  margin-left: 10px;
  margin-right: 10px;
}
.margin10-y{
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin5{
  margin: 5px;
}
.margin20{
  margin: 20px;
}

.border-radius0{
  border-radius:0px;
}

.ace-tm{
  border: 1px solid #DCDCDC;
}

.mmGrid .mmg-bodyWrapper .mmg-body tr.selected td {
    background: #5bc0de;
    color: white;
}

.bold{
  font-weight: bold;
}


 .wrapper-all .filter-all
,.wrapper-xhr .filter-xhr
,.wrapper-js .filter-js
,.wrapper-xml .filter-xml
,.wrapper-css .filter-css
,.wrapper-img .filter-img
,.wrapper-media .filter-media
,.wrapper-font .filter-font
,.wrapper-doc .filter-doc
,.wrapper-ws .filter-ws
,.wrapper-other .filter-other{
  display: table-row;
  cursor: pointer;
}

 .filter-all
,.filter-xhr
,.filter-js
,.filter-xml
,.filter-css
,.filter-img
,.filter-media
,.filter-font
,.filter-doc
,.filter-ws
,.filter-other{
  display: none;
}
.label-group{
  margin: 3px 2px 4px 2px;
}
.label-btn{
  cursor: pointer;
  margin: 2px;
}
.lable-split{
  background-color: #aaa;
  padding-left: 1px;
  position: relative;
  top: 2px;
  margin: 3px;
}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
.logo.off{
    -webkit-animation-duration: 100000s;
    background:gray;
    -webkit-mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACYUlEQVR42pVSS2gTURR982beZDL5f8nkI4WmVmMh1GDBTUhaXLgJ2LpTRBCKa43WThqzE2v84ASqRQLuFDdCQMWFi2KjpgnY1IW0rl1Xu2o+Y71XoqWTinjhwJ333jnv3POGEEOFQqGDVqv1OmNsieO4JmAV+jeyLOeDweAw+VvFYjFRkqQcENZEUXxlNpuvAE4jTCbTZUEQXuAeiBei0aipjwxV5nm+5nQ6J2GJI9MNZiu8O4TAHtc8Hs8pOPMBLnq8RwTszSHZ5XKNKIWKLORq80RtbAJ2EJza+EbV+i0yXZFB5DA4eu7z+ZJ/ZkZreDOSObW+DNgS1JU8y9XHyLXqMTpbU1GEn63Vem52C2bKg/2XaFHI1eeRTLLVEWNG4szyESG3UuwLD9PGwLAvvm5aCpWKTP6n8Klg/meU0qIRgUBgrNUicV0nxW6XZPcVsNvt98HFPWhvOxyOBSDegVA1+G5CLpl2Wz7abjsWOh373P4WUimBFAjtfdEe0NlHr9eb+ecIptL4A7GU/oIiFoslC+O8hyeKooCiKJO/z0UikUG3232pP0QtHWellG7RTpwfGBiQINAnKAJba36//yLkELPZbBdgrQqv9TSFjo0laROL4GKLacnRcDhsBsJV/ONg6xMCfzJwN4N7LcbiXUpXt2X55K7C3eNmqTSxxErp75KWPofjJBIJBqMMAWkI+x2IpSWKZ34Qstnl+bdfFcXw3CBi0tKLAowjauPrgJvBcmZ4m5BBndIbOsd9BhG9zVi5n7wnk+Tor2C11PqBR1Nn4bYpsLzRofRhW5YTxvM/AW6GtH1bghpUAAAAAElFTkSuQmCC");
}
.logo {
  cursor: pointer;
  height: 16px;
  width: 16px;
  overflow: hidden;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACYUlEQVR42pVSS2gTURR982beZDL5f8nkI4WmVmMh1GDBTUhaXLgJ2LpTRBCKa43WThqzE2v84ASqRQLuFDdCQMWFi2KjpgnY1IW0rl1Xu2o+Y71XoqWTinjhwJ333jnv3POGEEOFQqGDVqv1OmNsieO4JmAV+jeyLOeDweAw+VvFYjFRkqQcENZEUXxlNpuvAE4jTCbTZUEQXuAeiBei0aipjwxV5nm+5nQ6J2GJI9MNZiu8O4TAHtc8Hs8pOPMBLnq8RwTszSHZ5XKNKIWKLORq80RtbAJ2EJza+EbV+i0yXZFB5DA4eu7z+ZJ/ZkZreDOSObW+DNgS1JU8y9XHyLXqMTpbU1GEn63Vem52C2bKg/2XaFHI1eeRTLLVEWNG4szyESG3UuwLD9PGwLAvvm5aCpWKTP6n8Klg/meU0qIRgUBgrNUicV0nxW6XZPcVsNvt98HFPWhvOxyOBSDegVA1+G5CLpl2Wz7abjsWOh373P4WUimBFAjtfdEe0NlHr9eb+ecIptL4A7GU/oIiFoslC+O8hyeKooCiKJO/z0UikUG3232pP0QtHWellG7RTpwfGBiQINAnKAJba36//yLkELPZbBdgrQqv9TSFjo0laROL4GKLacnRcDhsBsJV/ONg6xMCfzJwN4N7LcbiXUpXt2X55K7C3eNmqTSxxErp75KWPofjJBIJBqMMAWkI+x2IpSWKZ34Qstnl+bdfFcXw3CBi0tKLAowjauPrgJvBcmZ4m5BBndIbOsd9BhG9zVi5n7wnk+Tor2C11PqBR1Nn4bYpsLzRofRhW5YTxvM/AW6GtH1bghpUAAAAAElFTkSuQmCC");
  -webkit-mask-size: 16px 16px;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 3.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.ico_docu,.ico_open,.ico_close{
  display:none!important;
}



.filter-group .pause{
  background-color: #007ACC;
  -moz-box-shadow: 0px 0px 8px #007ACC;
  box-shadow: 0px 0px 8px #007ACC;
}
.filter-group .pause.off{
  background-color: #dedede;
  -moz-box-shadow: 0px 0px 8px #dedede;
  box-shadow: 0px 0px 8px #dedede;
}
.filter-group .clear{
  border: 1px #007ACC solid;
}
.filter-group .clear:after { 
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    background: #007ACC;
    width: 1px;
    height: 100%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.filter-group .cirle{
  position: relative;
  top: 2px;
  margin: 5px;
  padding: 0px 8px 0px 8px;
  border-radius: 16px;
  cursor: pointer;
}

#setting .input-group{
  width: 100px;
}
#setting > div{
  margin: 10px;
}

.qrcode{
    position: absolute;
    margin-left: 50%;
    margin-top: 20px;
    left: -128px;
}


.full-screen{
  position: fixed!important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.rest-body{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  display: block;
}

.composer-content{
  top:75px;
}
#parsed .dropdown-toggle,#parsed .bootstrap-select{
  margin: 0px;
  padding: 0px;
  width:100%;
}
#parsed .parsed-title{
  height:24px;
}
#parsed .parsed-content{
  top:24px;
}
#cmpsr_reqhd{
  top:2px;
}
.input-sm{
  margin-top: 1px;
  height: 20px;
  font-size: 12px;
  padding: 4px;
  border-radius: 3px;
}
.grid-border{
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
}
    
#autoResponder .tab-pane{
  top:29px;
}
#auto-nor .auto-grid-wrap{
  bottom: 170px;
  z-index: 10;
  top:50px;
}
#auto-nor .auto-url-map{
  top: 100%;
  margin-top: -170px;
  height: 170px;
  z-index: 10;
}
#auto-nor .auto-file-crt{
  height: 500px;
  top: 100%;
  margin-top: -500px;
}
#auto-adv{
  bottom: 22px;
}
.auto-file-crt-container{
  bottom: 50px;
}
.auto-file-crt-btn{
  bottom: 30px;
  position: absolute;
  right: 0px;
}

.disabled-overview{
  z-index: 50;
  background-color: rgba(51, 51, 51, 0.15);
  display: none;
}
.disabled .disabled-overview{
  display: block;
}
.disabled .btn{
  background-color: #999999;
  background-image: linear-gradient(to bottom, #999999 0%, #999999 100%);
  border-color: #999999;
}
.auto-url-map.dropup .dropdown-menu{
  top:auto!important;
}

.unpausessn .auto-indicate{
  background-color: #999999;
}
.auto-indicate{
  height: 15px;
  background: #007ACC;
  margin-bottom: 7px;
}

.notifybar{
  text-align:center;
  padding-top: 5px;
  cursor: pointer;
}

.badge-xs{
    background-color: red;
    color: red;
    padding: 0;
    position: absolute;
    height: 10px;
    right: 4px;
}
#updateserver{
  display: none;
}
#editRule{
  display: none;
}

#mmg-filter{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 2px;
}

#filter-search{
    display: inline;
    width: 20%;
    height: 21px;
    margin-top: 2px;
    padding: 0 4px;
}

#load_screen{
  position: absolute;
  left: 0;
  right: 0;
  top: -80px;
  bottom: 0;
  z-index: 100000000;
  padding-top: 25%;
  background: #333;
}